@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  background-image: url('/images/pattern-bg.svg'), url('/images/pattern-curve.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: right 10% center, left bottom;
  position: relative;

  &__slide-box {
    @include absCenter();
    width: 78%;
    height: auto;
    background-image: url('/images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;

    @media screen and (max-width: 1440px) {
      width: 84%;
    }

    @media screen and (max-width: 1320px) {
      width: 90%;
    }

    @media screen and (max-width: 1240px) {
      width: 95%;
    }

    @media screen and (max-width: 1170px) {
      background-position: top left 5rem;
    }

    @media screen and (max-width: 980px) {
      background-position: top left 7rem;
    }

    &__slide {
      @include flex(center);
      width: 100%;
      height: 53rem;

      @media screen and (max-width: 965px) {
        flex-direction: column-reverse;
        gap: 2.5rem;
      }

      &__text {
        width: calc(100% - 50rem);

        @media screen and (max-width: 965px) {
          width: 100%;
          height: 50%;
        }

        &__content {
          line-height: 1.25;
          margin-bottom: 3rem;

          @media screen and (max-width: 965px) {
            text-align: center;
          }
        }

        &__sign {
          font-weight: 700;
          font-size: 2.4rem;

          @media screen and (max-width: 1170px) {
            font-size: 1.8rem;
          }

          @media screen and (max-width: 965px) {
            text-align: center;
          }

          &__name {
            color: $DarkBlue;
          }

          &__role {
            color: $GrayishBlue;
            margin-left: 2rem;
            font-weight: 500;
          }
        }
      }

      &__img {
        width: 50rem;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        @media screen and (max-width: 1170px) {
          width: 40rem;
          height: auto;
          aspect-ratio: 1;
        }

        @media screen and (max-width: 980px) {
          width: 35rem;
          height: auto;
          aspect-ratio: 1;
        }

        @media screen and (max-width: 965px) {
          width: 280px;
          height: auto;
          aspect-ratio: 1;
        }

        img {
          width: 100%;
          height: 100%;

          @media screen and (max-width: 965px) {
            height: auto;
            object-fit: contain;
          }
        }
      }
    }
  }

  &__attribution {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
      font-weight: 700;
    }
  }
}
